.background{
    background-color: rgb(62, 4, 121);
}
.icon{
    color: white !important;
    font-size: 30px !important;
}
.heading{
    background-color: rgb(62, 4, 121);
    color: white;
    text-align: center;
    padding: 10px;
}
p{
    text-align: justify;
    padding: 10px;
}
body{
    overflow-x: hidden;
}