{{>head}}
<title>Shelter | About</title>
{{>navbar}}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Question1: Lorem ipsum dolor sit amet?
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloribus commodi, expedita
                porro molestiae quidem. Voluptatum eum animi nostrum quaerat dolor eveniet quam obcaecati ut maxime
                necessitatibus deserunt quae a molestias unde illo, quisquam velit, itaque laborum nobis delectus
                facilis reiciendis blanditiis! Tempora amet laudantium debitis quibusdam recusandae. Odio ducimus natus,
                repellat provident mollitia labore. Alias repellat atque fugit veniam culpa harum soluta facilis a
                quaerat sed reprehenderit saepe repellendus, nobis incidunt, doloribus iste necessitatibus. Odit, omnis?
                Quo iure repellendus adipisci ipsa culpa debitis, temporibus consequuntur, libero dolores soluta
                quibusdam impedit dicta facere minus, nulla assumenda praesentium quis? Quos, temporibus?
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Question2: dignissimos rerum magni eaque error doloremque?
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, pariatur reprehenderit odio suscipit non
                deserunt natus ullam nobis itaque ducimus ab facilis. Assumenda, obcaecati dolorum, harum dolores
                ratione vero magni pariatur, possimus maxime temporibus sint!
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Question3: Rerum autem soluta vero quia repellat dolore?
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quia magnam voluptates facilis incidunt
                tempora cum sunt laborum, eius, modi delectus cupiditate omnis repudiandae culpa quas voluptas. Et
                repellendus dolores sed ea nam, eius error sit repellat numquam ad animi voluptas laboriosam
                perspiciatis at soluta veniam quam iusto itaque aspernatur accusantium aliquam doloribus accusamus aut
                sequi. Quam, non officia eligendi voluptatibus quidem aperiam adipisci ut excepturi, omnis nisi officiis
                ea!
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Question2: dignissimos rerum magni eaque error doloremque?
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, pariatur reprehenderit odio suscipit non
                deserunt natus ullam nobis itaque ducimus ab facilis. Assumenda, obcaecati dolorum, harum dolores
                ratione vero magni pariatur, possimus maxime temporibus sint!
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingfive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                Question3: Rerum autem soluta vero quia repellat dolore?
            </button>
        </h2>
        <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quia magnam voluptates facilis incidunt
                tempora cum sunt laborum, eius, modi delectus cupiditate omnis repudiandae culpa quas voluptas. Et
                repellendus dolores sed ea nam, eius error sit repellat numquam ad animi voluptas laboriosam
                perspiciatis at soluta veniam quam iusto itaque aspernatur accusantium aliquam doloribus accusamus aut
                sequi. Quam, non officia eligendi voluptatibus quidem aperiam adipisci ut excepturi, omnis nisi officiis
                ea!
            </div>
        </div>
    </div>
</div>
{{>footer}}