{{>head}}
<title>Shelter | Products</title>
{{>navbar}}
<div class="container-fluid">
    <h5 class="heading mt-1">Our Products</h5>
    <div class="row mb-3">
        <div class="col-md-6 col-12">
            <img src="images/p10.jpg" width="100%" height="300px">
        </div>
        <div class="col-md-6 col-12">
            <h5 class="heading">Lorem ipsum dolor sit amet</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis vitae, et fuga cupiditate minus
                repellendus animi! Quasi exercitationem provident, fugit non voluptatum consequatur ad officia similique
                laborum expedita deserunt beatae atque amet recusandae molestiae architecto natus porro saepe, dolore
                inventore obcaecati doloribus dolor. Saepe quibusdam voluptate est rerum maiores facere!</p>
        </div>
    </div>
    <div class="row mb-3 d-flex flex-row-reverse">
        <div class="col-md-6 col-12">
            <img src="images/p11.jpg" width="100%" height="300px">
        </div>
        <div class="col-md-6 col-12">
            <h5 class="heading">Lorem ipsum dolor sit amet</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis vitae, et fuga cupiditate minus
                repellendus animi! Quasi exercitationem provident, fugit non voluptatum consequatur ad officia similique
                laborum expedita deserunt beatae atque amet recusandae molestiae architecto natus porro saepe, dolore
                inventore obcaecati doloribus dolor. Saepe quibusdam voluptate est rerum maiores facere!</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 col-12">
            <img src="images/p12.jpg" width="100%" height="300px">
        </div>
        <div class="col-md-6 col-12">
            <h5 class="heading">Lorem ipsum dolor sit amet</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis vitae, et fuga cupiditate minus
                repellendus animi! Quasi exercitationem provident, fugit non voluptatum consequatur ad officia similique
                laborum expedita deserunt beatae atque amet recusandae molestiae architecto natus porro saepe, dolore
                inventore obcaecati doloribus dolor. Saepe quibusdam voluptate est rerum maiores facere!</p>
        </div>
    </div>
    <div class="row mb-3 d-flex flex-row-reverse">
        <div class="col-md-6 col-12">
            <img src="images/p13.jpg" width="100%" height="300px">
        </div>
        <div class="col-md-6 col-12">
            <h5 class="heading">Lorem ipsum dolor sit amet</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis vitae, et fuga cupiditate minus
                repellendus animi! Quasi exercitationem provident, fugit non voluptatum consequatur ad officia similique
                laborum expedita deserunt beatae atque amet recusandae molestiae architecto natus porro saepe, dolore
                inventore obcaecati doloribus dolor. Saepe quibusdam voluptate est rerum maiores facere!</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 col-12">
            <img src="images/p14.jpg" width="100%" height="300px">
        </div>
        <div class="col-md-6 col-12">
            <h5 class="heading">Lorem ipsum dolor sit amet</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis vitae, et fuga cupiditate minus
                repellendus animi! Quasi exercitationem provident, fugit non voluptatum consequatur ad officia similique
                laborum expedita deserunt beatae atque amet recusandae molestiae architecto natus porro saepe, dolore
                inventore obcaecati doloribus dolor. Saepe quibusdam voluptate est rerum maiores facere!</p>
        </div>
    </div>
    <div class="row mb-3 d-flex flex-row-reverse">
        <div class="col-md-6 col-12">
            <img src="images/p15.jpg" width="100%" height="300px">
        </div>
        <div class="col-md-6 col-12">
            <h5 class="heading">Lorem ipsum dolor sit amet</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis vitae, et fuga cupiditate minus
                repellendus animi! Quasi exercitationem provident, fugit non voluptatum consequatur ad officia similique
                laborum expedita deserunt beatae atque amet recusandae molestiae architecto natus porro saepe, dolore
                inventore obcaecati doloribus dolor. Saepe quibusdam voluptate est rerum maiores facere!</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 col-12">
            <img src="images/p16.jpg" width="100%" height="300px">
        </div>
        <div class="col-md-6 col-12">
            <h5 class="heading">Lorem ipsum dolor sit amet</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis vitae, et fuga cupiditate minus
                repellendus animi! Quasi exercitationem provident, fugit non voluptatum consequatur ad officia similique
                laborum expedita deserunt beatae atque amet recusandae molestiae architecto natus porro saepe, dolore
                inventore obcaecati doloribus dolor. Saepe quibusdam voluptate est rerum maiores facere!</p>
        </div>
    </div>
    <div class="row mb-3 d-flex flex-row-reverse">
        <div class="col-md-6 col-12">
            <img src="images/p17.jpg" width="100%" height="300px">
        </div>
        <div class="col-md-6 col-12">
            <h5 class="heading">Lorem ipsum dolor sit amet</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis vitae, et fuga cupiditate minus
                repellendus animi! Quasi exercitationem provident, fugit non voluptatum consequatur ad officia similique
                laborum expedita deserunt beatae atque amet recusandae molestiae architecto natus porro saepe, dolore
                inventore obcaecati doloribus dolor. Saepe quibusdam voluptate est rerum maiores facere!</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 col-12">
            <img src="images/p18.jpg" width="100%" height="300px">
        </div>
        <div class="col-md-6 col-12">
            <h5 class="heading">Lorem ipsum dolor sit amet</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis vitae, et fuga cupiditate minus
                repellendus animi! Quasi exercitationem provident, fugit non voluptatum consequatur ad officia similique
                laborum expedita deserunt beatae atque amet recusandae molestiae architecto natus porro saepe, dolore
                inventore obcaecati doloribus dolor. Saepe quibusdam voluptate est rerum maiores facere!</p>
        </div>
    </div>
    <div class="row mb-3 d-flex flex-row-reverse">
        <div class="col-md-6 col-12">
            <img src="images/p19.jpg" width="100%" height="300px">
        </div>
        <div class="col-md-6 col-12">
            <h5 class="heading">Lorem ipsum dolor sit amet</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis vitae, et fuga cupiditate minus
                repellendus animi! Quasi exercitationem provident, fugit non voluptatum consequatur ad officia similique
                laborum expedita deserunt beatae atque amet recusandae molestiae architecto natus porro saepe, dolore
                inventore obcaecati doloribus dolor. Saepe quibusdam voluptate est rerum maiores facere!</p>
        </div>
    </div>
    <div class="row mb-3 ">
        <div class="col-md-6 col-12">
            <img src="images/p20.jpg" width="100%" height="300px">
        </div>
        <div class="col-md-6 col-12">
            <h5 class="heading">Lorem ipsum dolor sit amet</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis vitae, et fuga cupiditate minus
                repellendus animi! Quasi exercitationem provident, fugit non voluptatum consequatur ad officia similique
                laborum expedita deserunt beatae atque amet recusandae molestiae architecto natus porro saepe, dolore
                inventore obcaecati doloribus dolor. Saepe quibusdam voluptate est rerum maiores facere!</p>
        </div>
    </div>
    <div class="row mb-3 d-flex flex-row-reverse">
        <div class="col-md-6 col-12">
            <img src="images/p8.jpg" width="100%" height="300px">
        </div>
        <div class="col-md-6 col-12">
            <h5 class="heading">Lorem ipsum dolor sit amet</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis vitae, et fuga cupiditate minus
                repellendus animi! Quasi exercitationem provident, fugit non voluptatum consequatur ad officia similique
                laborum expedita deserunt beatae atque amet recusandae molestiae architecto natus porro saepe, dolore
                inventore obcaecati doloribus dolor. Saepe quibusdam voluptate est rerum maiores facere!</p>
        </div>
    </div>
</div>
{{>footer}}